@import "../../scss/mixins";

.circular-chart {
  @include Chart;

  .chart {
    @include flexRowCenter;
    justify-content: center;

    .label {
      margin-left: 25px;
      & > div {
        @apply flex flex-row items-start;

        .c-1,
        .c-2 {
          @include miniCircle;
          margin-right: 10px;
          margin-top: 3px;
        }

        .c-1 {
          background-color: #f7e8e5;
        }

        .c-2 {
          @apply bg-secondary;
        }

        p {
          @apply text-left;
        }

        .title {
          font-size: 15px;
        }

        .data {
          font-size: 15px;
          color: #566376;
        }
      }
    }

    .chart-data {
      position: relative;
      display: inline-block;
      color: #999;
      font-size: 20px;
      text-align: center;

      // stroke-dashoffset: calc(
      //   (2 * 3.14 * 85) * (100 - attr(data-percent)) / 100
      // );
      -webkit-animation: all 2s;
      animation: all 2s;
    }

    .chart-data figcaption {
      @include flexRowCenter;
      @apply text-lg font-bold text-secondary;
      justify-content: center;
      width: 190px;
      height: 190px;
      border: 20px solid #f0f0f0;
      border-radius: 100px;
      line-height: 50px;
    }

    .chart-data svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    .outer {
      fill: transparent;
      stroke: rgb(230, 110, 59);
      stroke-linecap: round;
      stroke-width: 20;
      stroke-dasharray: 534;
      transition: stroke-dashoffset 1s;
      -webkit-animation-play-state: running;

      /* firefox bug fix - won't rotate at 90deg angles */
      -moz-transform: rotate(-89deg) translateX(-190px);
    }
  }
}

// @keyframes introCircle {
//   from {
//     stroke-dashoffset: 537;
//   }

//   to {
//     stroke-dashoffset: calc((2 * 3.14 * 85) * (100 - attr(data-percent)) / 100);
//   }
// }
