@import "../../scss/mixins";

.circular-chart {
  @include Chart;

  .chart {
    @include flexRowCenter;
    justify-content: center;

    .label {
      margin-left: 25px;

      @media (max-width: 500px) {
        margin-left: 15px;
      }
      & > div {
        @apply flex flex-row items-start;

        .c-1,
        .c-2 {
          @include miniCircle;
          margin-right: 10px;
          margin-top: 3px;
        }

        .c-1 {
          background-color: #f7e8e5;
        }

        .c-2 {
          @apply bg-secondary;
        }

        p {
          @apply text-left;
        }

        .title {
          font-size: 15px;
        }

        .data {
          font-size: 15px;
          color: #566376;
        }
      }
    }

    .chart-data {
      position: relative;

      .progress-count {
        @apply text-lg font-bold text-secondary;
        fill: rgb(230, 110, 59);
      }
      .circle-chart__circle {
        transform: rotate(-90deg);
        transform-origin: center;
        stroke: rgb(230, 110, 59);
        stroke-width: 20px;
        // stroke-dasharray: 0;

        transition: stroke-dasharray 1s;
      }
    }
  }
}
