@import "../../scss/mixins";

.horizontal-chart {
  @include Chart;

  .chart {
    .label-value {
      @include flexRowCenter;
      @apply justify-between mb-2;
    }
    .track {
      @apply rounded-full relative overflow-hidden;
      width: 352px;
      height: 12px;
      background-color: #f7e8e5;

      .progress {
        @apply bg-secondary rounded-full absolute z-10 left-0 top-0;
        height: 12px;
        width: 0px;
        animation: slide linear 0.5s 0.5s;
      }
    }

    .x-tag {
      @include flexRowCenter;
      @apply justify-between ml-16;

      p {
        @apply text-xs text-primary font-normal;
      }
    }
  }
}

@keyframes slide {
  0% {
    left: -352px;
  }
  100% {
    left: 0;
  }
}
