@import "../../scss/mixins";

.vertical-chart {
  @include Chart;

  .chart {
    @include flexRowCenter;
    @apply ml-5 mb-5 justify-between relative overflow-hidden;
    align-items: flex-end !important;

    @media (max-width: 500px) {
      @apply ml-0;
    }

    .bar-1,
    .bar-2 {
      @apply relative bottom-0;
      height: 0px;
      animation: slideUp 0.5s 0.5s;
      transition: all ease 1s;
    }

    .bar-1 {
      @apply rounded-full;
      width: 18px;
      background-color: #c2d9d7;
    }

    .bar-2 {
      @apply rounded-full bg-primary;
      width: 18px;
    }
  }

  .label {
    @include flexRowCenter;
    @apply ml-5;

    & > div {
      @include miniCircle;
      margin-right: 10px;
    }

    p {
      margin-right: 20px;
    }

    .c-1 {
      background-color: #c2d9d7;
    }

    .c-2 {
      @apply bg-primary;
    }
  }
}

@keyframes slideUp {
  0% {
    bottom: -176px;
  }
  100% {
    bottom: 0;
  }
}
